@media screen and (max-width: 800px) {
  .bottom-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .top-card {
    width: 460px;
  }
}

@media screen and (max-width: 460px) {
  .top-card {
    width: 100%;
  }

  .container {
    padding: 80px 0px;
    gap: 60px;
  }
}
